
html {
 	font-family: sans-serif;
}

header{
	background-color: #eee;
}


.masthead{
	background-image: url("http://placehold.it/40x40");
	background-size: 70px auto;
	padding-top: .5em;
	padding-right: 1em;
	background-repeat: no-repeat;
	background-position: left 20px;
	text-align: center;
	margin: 1em;
}

.logo{
	width: 155px;
}

nav ol li{
	list-style-type: none;
}

nav a{
	display:block;
	padding:.3em;
	text-decoration: none;
	color: black;
}


.billboard{
	text-align:center;
	width:100%;
	background-image: url("http://placehold.it/600x800");
	background-size:100% auto;
	background-position: center;
	color: white;
}

.billboard a{
	text-decoration: none;
}


.join{
	background-color: #666666;
	text-align:center;
	color: white;
}

.photo-1{
	padding:0em;
}

input{
	border-radius: 6px;
	border: 1px solid #ccc;
	display: inline-block;
	width:100%;
}

.see-more{
	text-align:center;
}

button{
	border-radius:6px;
	cursor: pointer;
}

.thank{
	text-align: center;
}


footer{
	background-color: #ccc;
}

footer ol li, footer ul li{
	list-style-type: none;
}

footer ul{
	padding-left:0;
}

footer a{
	text-decoration: none;
	color: black;
}






@media only screen and (min-width:25em){
	nav ol li{
		display:inline-block;
	}

	nav{
		text-align:center;
	}

}

@media only screen and (min-width:38em){
	.logo{
		width: 100px;
}

	nav{
		text-align:right;
	}

}

@media only screen and (min-width:60em){
	.logo{
		width: 100px;
}

	nav{
		text-align:right;
	}

}

@media only screen and (min-width:90em){
	.logo{
		width: 150px;
}

	nav{
		text-align:right;
	}

}
