
html {
 	font-family: sans-serif;
}

header{
	background-color: #eee;
}

nav ol li{
	list-style-type: none;
}

nav a{
	display:block;
	padding:.3em;
	text-decoration: none;
	color: black;
}

.billboard-wrap{
	position: relative;
}

.billboard{
	position: absolute;
	text-align:center;
	width:100%;
	background-image: url("http://placehold.it/600x400");
	background-size:100% auto;
	background-position: center;
	color: white;
}

.join{
	background-color: #666666;
}






footer{
	background-color: #ccc;
}

footer ol li, footer ul li{
	list-style-type: none;
}

footer ul{
	padding-left:0;
}

footer a{
	text-decoration: none;
	color: black;
}






@media only screen and (min-width:25em){
	nav ol li{
		display:inline-block;
	}

	nav{
		text-align:center;
	}

}


