
html {
 	font-family: sans-serif;
}

header{
	background-color: #eee;
}

.masthead{
	background-image: url("http://placehold.it/40x40");
	background-size: 70px auto;
	padding-top: .5em;
	padding-right: 1em;
	background-repeat: no-repeat;
	background-position: left 20px;
	text-align: center;
	margin: 1em;
}

.logo{
	width: 155px;
}

nav a:hover{
	background-color: black;
	color: white;
}

nav ol li{
	list-style-type: none;
}

nav a{
	display:block;
	padding:.3em;
	text-decoration: none;
	color: black;
}

.billboard{
	text-align:center;
	width:100%;
	background-image: url("http://placehold.it/600x800");
	background-size:100% auto;
	background-position: center;
	color: white;
	background-color:#666666;
}

.billboard a{
	text-decoration: none;
}

.board p{
	text-shadow: 2px 2px 6px black;
}

h1{
	text-shadow: 2px 2px 6px black;
}

.join{
	background-color: #555f66;
	text-align:center;
	color: white;
}

.join p{
	text-shadow: 2px 2px 6px black;
}

.photo-1{
	padding:0em;
}

input{
	border-radius: 6px;
	border: 1px solid #ccc;
	display: inline-block;
	width:100%;
}

button{
	border-radius:6px;
	cursor: pointer;
}

.tour-btn{
	text-align:center;
}

.packages{
	text-align:center;
}

.free-trial{
	background-color: #999999;
}

.month-60{
	background-color: #cccccc;
}

.month-110{
	background-color: #999999;
}

.select{
	width:100%;
	border-radius: 0;
}

.getstarted-btn{
	display:block;
	width:100%;
}

.getstarted-btn:hover{
	background-color: black;
	color: white;
}

.max{
	max-width: 50em;
	margin: 0 auto;
}

.max-2{
	max-width: 40em;
	margin: 0 auto;
}

.fig-our{
	text-align:center;
}

label{
	text-align:left;
}

form{
	color: black;
}

.thank{
	text-align: center;
}

footer{
	background-color: #eee;
}

footer ol li, footer ul li{
	list-style-type: none;
}

footer ul{
	padding-left:0;
}

footer a{
	text-decoration: none;
	color: black;
}

footer a:hover{
	color:#999999;
}

footer p{
	margin:0em;
}




@media only screen and (min-width:25em){
	nav ol li{
		display:inline-block;
	}

	nav{
		text-align:center;
	}

}

@media only screen and (min-width:38em){
	.logo{
		width: 150px;
}

	nav{
		text-align:right;
	}

}

@media only screen and (min-width:60em){
	.logo{
		width: 150px;
}

	nav{
		text-align:right;
	}

	.getstarted{
		display:block;
	}

	.tour-link{
		padding-top: 10em;
	}

	.package-link{
		padding-top: 10em;
	}
}

@media only screen and (min-width:90em){
	.logo{
		width: 150px;
}

	nav{
		text-align:right;
	}

.getstarted{
	text-align:left;
}
}
